@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  min-height: 100vh;
  font: poppins;
}

.main {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

 .main #ic_logo{
  height: 80px;
  width: 100px;
}

label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

input {
  display: block;
  width: 60%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}


button {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #1ec4f8;
  width: 30%;
  font-size: 16px;
}

#input_group{
  box-sizing: border-box;
  margin-left: 150px;
}

#input_group .error{
  color: red;
  font-size: 16px;
  margin-top: 5px;

}


@media (max-width: 480px) {
  body {
    width: 90%;
    margin: 0 auto; /* Center the body */
  }

  h2 {
    font-size: 1.5rem; /* Reduce the title size on very small screens */
  }

  button {
    width: 30%; /* Increase button width on very small screens */
    margin: 15px auto; /* Center the button and add margin around it */
    margin-left: 160px;
    display: block; /* Ensures the button is a block element */
  }

  .main {
    width: 100%;
    max-width: 400px; /* Ensure the main container doesn't grow too wide */
    padding: 15px;
    margin: 0 auto;
  }

  .main p {
    text-align: center; /* Center the paragraph */
  }
}


